* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom right, rgba(59, 138, 235, 1), rgba(178, 255, 218, 1));
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
button:hover {
  cursor: pointer;
}
/* ========================== HEADER ========================== */
.header {
  width: 100%;
  height: 13vh;
  display: flex;
}
.container-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.logo {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 900;
  text-shadow: 0 0 3px rgb(88, 88, 88);
}
.logo-title {
  margin-left: 10px;
  border-left: 4px solid #ffff5f;
}
.header-logo-name {
  margin-left: 8px;
}
.title {
  color: #ffff5f;
}
.subtitle {
  font-size: 1rem;
}
.link {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}
.link a {
  margin-left: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0 3px rgb(88, 88, 88);
}
/* ========================== JUMBOTRON ========================== */
.jumbotron {
  width: 100%;
  height: 87vh;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  height: 100%;
  display: flex;
}
.image-side {
  width: 60%;
  height: 100%;
  /* background-image: url(img/pngegg.png); */
}
#jumbo-bg {
  width: 55%;
  height: 86%;
  left: 0;
  bottom: 0;
  position: fixed;
}
.login-side {
  width: 40%;
  padding-left: 80px;
  padding-top: 60px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.logo-company {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-company img {
  width: 60%;
  filter: drop-shadow(1px 1px 6px black);
}
.login-form {
  width: 100%;
  margin-bottom: 20px;
  background-color: #428cd4;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgb(112, 112, 112);
}

.login-form .title {
  padding-top: 38px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form .text-area {
  width: 80%;
  margin: 20px auto 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}
.login-form .title img {
  margin-right: 8px;
  width: 36px;
}
.input-login-form {
  width: 84%;
  margin: 0 auto;
}
.input-login-form .input input {
  margin-bottom: 30px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 4px rgb(112, 112, 112);
  text-align: center;
}
.login-form .button {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.input-login-form .button button {
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: none;
  background-color: #ea4492;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #ffffff;
  box-shadow: 0 2px 4px rgb(112, 112, 112);
}
.input-login-form .button button:hover {
  background-color: #c70d64;
  color: #b7b8b9;
}

.input-login-form .forgot-password {
  padding-bottom: 18px;
  padding-top: 18px;
  text-align: center;
}
.input-login-form .forgot-password a {
  margin-bottom: 30px;
  color: #d6d6d6;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}
.input-login-form .forgot-password a:hover {
  color: #0b427a;
}
/* ========================== RESPONSIIVE ========================== */
@media (max-width: 992px) {
  .login-side {
    padding-left: unset;
  }
}
@media (max-width: 915px) {
  .link a {
    margin-left: 12px;
  }
  .login-form .text-area,
  .login-form .input input {
    font-size: 0.9rem;
  }
  .login-side {
    padding-left: 0px;
  }
}
@media (max-width: 769px) {
  .link {
    display: none;
  }
  .image-side {
    display: none;
  }
  #jumbo-bg {
    width: 100%;
  }
  .login-side {
    z-index: 9;
    width: 100%;
    padding: 0 22px;
    display: flex;
    align-items: center;
  }
  .login-form {
    width: 80%;
    height: 380px;
    margin: 0 auto;
    background-color: #428bd4b7;

    /* backdrop-filter: blur(1px); */
    /* filter: blur(20px); */
  }
}

@media (max-width: 700px) {
  .logo {
    width: 100%;
    font-size: 24px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .login-form {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo,
  .subtitle {
    font-size: 1.1rem;
  }
}
@media (max-width: 440px) {
  .logo,
  .subtitle {
    font-size: 1rem;
  }
}
